python-dotenv>=1.0.1
langgraph>=0.2.45
langchain==0.3.9
langchain-core==0.3.21
langchain-community==0.3.9
langchain-google-genai==2.0.6
google-generativeai==0.8.5
tiktoken>=0.7.0
chromadb>=0.5.7
sentence-transformers>=3.2.1
torch>=2.4.0
pypdf>=5.1.0
tqdm>=4.66.5
numpy==1.26.4
pandas>=2.2.3
uvicorn>=0.30.6
fastapi>=0.115.0
streamlit>=1.39.0